.git/
.github/
.vscode/
.venv/
.gitignore
.dockerignore

deployments/
assets/

.pre-commit-config.yaml
.python-version

README.md
CONTRIBUTING.md
LICENSE

Makefile

**/__pycache__/
**/*.py[cod]
*_cache/
